[submodule "libft"]
	path = Cursus/Rank00/libft
	url = https://github.com/rphlr/42-libft
[submodule "Born2beroot"]
	path = Cursus/Rank01/born2beroot
	url = https://github.com/rphlr/42-born2beroot
[submodule "ft_printf"]
	path = Cursus/Rank01/ft_printf
	url = https://github.com/rphlr/42-ft_printf
[submodule "get_next_line"]
	path = Cursus/Rank01/get_next_line
	url = https://github.com/rphlr/42-get_next_line
[submodule "FdF"]
	path = Cursus/Rank02/FdF
	url = https://github.com/rphlr/42-FdF
[submodule "fract-ol"]
	path = Cursus/Rank02/fract-ol
	url = https://github.com/rphlr/42-fract-ol
[submodule "pipex"]
	path = Cursus/Rank02/pipex
	url = https://github.com/rphlr/42-pipex
[submodule "push_swap"]
	path = Cursus/Rank02/push_swap
	url = https://github.com/rphlr/42-push_swap
[submodule "so_long"]
	path = Cursus/Rank02/so_long
	url = https://github.com/rphlr/42-so_long
[submodule "Philosophers"]
	path = Cursus/Rank03/Philosophers
	url = https://github.com/rphlr/42-Philosophers
[submodule "minishell"]
	path = Cursus/Rank03/minishell
	url = https://github.com/rphlr/42-minishell
[submodule "CPP00"]
	path = Cursus/Rank04/CPP_Modules/CPP00
	url = https://github.com/rphlr/42-CPP00
[submodule "CPP01"]
	path = Cursus/Rank04/CPP_Modules/CPP01
	url = https://github.com/rphlr/42-CPP01
[submodule "CPP02"]
	path = Cursus/Rank04/CPP_Modules/CPP02
	url = https://github.com/rphlr/42-CPP02
[submodule "CPP03"]
	path = Cursus/Rank04/CPP_Modules/CPP03
	url = https://github.com/rphlr/42-CPP03
[submodule "CPP04"]
	path = Cursus/Rank04/CPP_Modules/CPP04
	url = https://github.com/rphlr/42-CPP04
[submodule "CPP05"]
	path = Cursus/Rank05/CPP_Modules/CPP05
	url = https://github.com/rphlr/42-CPP05
[submodule "CPP06"]
	path = Cursus/Rank05/CPP_Modules/CPP06
	url = https://github.com/rphlr/42-CPP06
[submodule "CPP07"]
	path = Cursus/Rank05/CPP_Modules/CPP07
	url = https://github.com/rphlr/42-CPP07
[submodule "CPP08"]
	path = Cursus/Rank05/CPP_Modules/CPP08
	url = https://github.com/rphlr/42-CPP08
[submodule "CPP09"]
	path = Cursus/Rank05/CPP_Modules/CPP09
	url = https://github.com/rphlr/42-CPP09
[submodule "NetPractice"]
	path = Cursus/Rank04/NetPractice
	url = https://github.com/rphlr/42-NetPractice
[submodule "cub3d"]
	path = Cursus/Rank04/cub3d
	url = https://github.com/rphlr/42-cub3d
[submodule "Inception"]
	path = Cursus/Rank05/Inception
	url = https://github.com/rphlr/42-Inception
[submodule "webserv"]
	path = Cursus/Rank05/webserv
	url = https://github.com/rphlr/42-webserv
[submodule "transcendence"]
	path = Cursus/Rank06/transcendence
	url = https://github.com/rphlr/42-ft_transcendence
[submodule "Piscine"]
	path = Piscine
	url = https://github.com/rphlr/42-piscine
[submodule "Exams"]
	path = Exams
	url = https://github.com/rphlr/42-Exams
[submodule "Evals"]
	path = Evals
	url = https://github.com/rphlr/42-Evals
[submodule "Subjects"]
	path = Subjects
	url = https://github.com/rphlr/42-Subjects.git
[submodule "Bootcamp-AI"]
	path = Bootcamp-AI
	url = https://github.com/rphlr/42-Bootcamp-AI
